<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    
    {{!-- --------------------------------- main header ---------------------------- --}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left side div start -->
                    <div class="col-md-6 col-12 main_header_right aligns-items-center">
                        <figure>
                            <img src="IMAGES/download.jpeg" alt="img" class="img-fluid" tittle="images">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome to Weather App</p>
                        <h1> I Am <span class="text_clr"> Himanshu Madaan</span> And Mern Stack Developer</h1>
                        <a href="https://twitter.com/home" target="_thapa"> <button>About Me</button></a>

                    </div>
                    <!-- left side div end -->

                    <!-- right side div start -->



                    <!-- right side div start -->


                </div>

            </div>
        </div>
    </div>
    <footer>
   {{>footer}}
</body>

</html>